.THIS.recordLayout {
list-style: none;
padding: 14px;
margin: 10px;
border-bottom:1px solid #cfd4d9;
}

.THIS .row {
width: 100%;
margin-bottom: 20px;
}

.THIS.listRecord {
margin: 14px;
border-radius: 5px;
border: 1px solid #cfd4d9;
position: relative;
}
.THIS .uiOutputText {
line-height: 1.1em;
}
.THIS .itemTitle {
font-size: 15px;
padding-bottom: 3px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.THIS .recordItem {
text-overflow: ellipsis;
white-space: nowrap;
}
.THIS a:hover {
text-decoration: none;
background-color: #235636;
}

.THIS .uiInputCheckbox {
margin-left: 20px;
}
.THIS .uiButton {
margin-bottom: 20px;
}
.THIS .row {
width: 100%;
margin-bottom: 20px;
}
.THIS .blue {
background: #d9edf2;
}
.THIS .white {
background: #ffffff;
}
.THIS .uiInput.uiInputDateTime {
position: relative;
}
.THIS .uiInputDateTime+.datePicker-openIcon {
position: absolute;

display: inline-block;
left: 90%;
top: 25px;
background-position: center;
padding: 2% 5%;
}
.THIS .uiInputDefaultError li {
list-style: none;
}